<%= render 'header' %> 
<%= render 'navigation' %> 

<div class="container p-md-5 p-sm-3">
    <div class="row justify-content-center">

        <!-- recent -->
        <div class="col-12 col-lg-10">
            <div class="row justify-content-center">
                <!-- <div class="col-12"><div class="divider"></div></div>
                <div class="col-12 text-center" style="column-count: 1;">
                    <p class="font-family-serif font-weight-bold mb-0">Most recent files</p>
                </div>
                <div class="col-12"><div class="divider"></div></div> -->
                <% @recent.keys.each do |date| %>
                    <div class="col-12 col-lg-3 mb-3">
                        <p class="small text-muted mb-0"><%= Date.parse(date).strftime("%B %d, %Y") %></p>
                        <a href="<%= @recent[date]["url"] %>"><%= @recent[date]["title"] %></a>
                    </div>
                <% end %>
                <div class="col-6 col-lg-4"><div class="divider--bold my-5"></div></div>
            </div>
        </div><!-- ./recent -->

        <!-- render post -->
        <div class="col-12 col-lg-10">
            <!-- post -->
            <div class="row">
                <!-- title -->
                <div class="col-12">
                    <h1 class="font-family-serif font-weight-bold">
                        <a href="/<%= @route_path %>/<%= @date %>"><%= @title %></a>
                    </h1>
                    <!-- date -->
                    <!-- <p class="text-muted mb-0"><%= Date.parse(@date).strftime("%B %d, %Y") %></p> -->
                    <p class="m-0">
                    <% @tags.each do |tag| %>
                        <span><%= tag %><% unless tag.equal?(@tags.last) %> / <% end %></span>
                    <% end %>
                    <span class="text-muted float-right"><%= Date.parse(@date).strftime("%B %d, %Y") %></span>
                    </p>
                </div>
                <div class="col-12">
                    <div class="divider mb-0"></div>
                </div>
                <!-- body -->
                <div class="col-12 mt-3 font-family-serif">
                    <% @lines.drop(3).each do |line| %>
                        <%= CommonMarker.render_html(line).html_safe %>
                    <% end %>
                </div>
                <div class="col-12">
                    <div class="divider mt-0"></div>
                </div>
            </div>
            <!-- browse all -->
            <div class="row">
                <div class="col-12 text-md-center">
                    <p class="m-0"><a href="/writing">Browse all</a></p>
                </div>
            </div>
        </div>

        <!-- recent -->
        <!-- <div class="col-12 col-lg-2 mt-3">
            <div class="row">
                <div class="col-12">
                    <p class="font-weight-bold">Recent updates:</p>
                </div>
                <% @recent.keys.each do |date| %>
                    <div class="col-6 col-lg-12 mb-3">
                        <p class="small text-muted mb-0"><%= Date.parse(date).strftime("%B %d, %Y") %></p>
                        <a href="<%= @recent[date]["url"] %>"><%= @recent[date]["title"] %></a>
                    </div>
                <% end %>
            </div>
        </div> -->
        <!-- ./recent -->

    </div>
</div>

<%= render 'footer' %> 