<%= render 'navigation' %>

<div class="container p-md-5 p-sm-3">
    
    <!-- render post -->
    <% if @post != nil %>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <!-- post -->
            <div class="row">
                <!-- title -->
                <div class="col-12">
                    <h1 class="font-family-serif font-weight-bold">
                        <a href="/<%= @route_path %>/<%= @date %>"><%= @title %></a>
                    </h1>
                    <!-- date -->
                    <p class="text-muted mb-0"><%= Date.parse(@date).strftime("%B %d, %Y") %></p>
                </div>
                <div class="col-12">
                    <div class="divider"></div>
                </div>
                <!-- body -->
                <div class="col-12 font-family-serif">
                    <% @lines.drop(3).each do |line| %>
                        <%= CommonMarker.render_html(line).html_safe %>
                    <% end %>
                </div>
                <div class="col-12">
                    <div class="divider mt-0"></div>
                </div>
            </div>
            <!-- browse all -->
            <div class="row">
                <div class="col-12 text-md-center">
                    <p class="m-0"><a href="/writing">Browse all</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- else render all posts -->
    <% else %>
        <!-- header -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5">
                <h1><%= @meta_title %></h1>
            </div>
            <div class="col-12 col-lg-5 text-md-right">
                <input id="search" class="pl-3" name="search" placeholder="Search" type="text" data-list=".list" autocomplete="off" style="margin-top:9px;min-width:100%;">
            </div>
        </div>
        <!-- summary -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="divider"></div>
            </div>
            <div class="col-12 col-md-10" style="column-count: 1;">
                <p class="font-family-serif mb-0">I sometimes write about various things, mainly as notes on technology, programming, and investing. This is a collection of writings.</p>
            </div>
            <div class="col-12 col-md-10">
                <div class="divider"></div>
            </div>
        </div>
        
        <!-- render posts -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="row list">
                    
                    <% @posts_array.keys.each do |post| %>
                    <!-- header -->
                    <% if post.equal?(@posts_array.first) %>
                    <% @header = Date.parse(post).strftime("%Y") %>
                    <li class="col-12 mb-3 list_header" style="background:rgba(23, 23, 23, 0.05);">
                        <p class="my-2"><%= @header %></p>
                    </li>
                    <% end %>
                    <!-- list -->
                    <li class="col-12 mb-3">
                        <div class="row">
                            <div class="col-12">
                                <p class="small text-muted mb-0"><%= Date.parse(post).strftime("%B %d, %Y") %></p>
                            </div>
                            <div class="col-12 col-md-8">
                                <a href="/<%= @route_path %>/<%= post %>">
                                    <%= @posts_array[post][:title] %>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 text-md-right">
                                <% @posts_array[post][:tags].each do |tag| %>
                                <span class="small text-uppercase font-weight-bold"><%= tag %></span>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <% end %>

                </div>
            </div>
        </div>
    <% end %>
</div>